.App {
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.BackgroundImage {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-image: 
  /* top, transparent red */
  linear-gradient(
    rgba(238, 221, 221, 0.45), 
    rgba(153, 184, 229, 0.45)
  ),
  /* your image */
  url('https://jvarilla.github.io/assets/chicago-skyline.jpg');
  background-size: cover;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
